//   /* general variables */
$shadow-1: 0 0 5px rgb(250, 234, 230);
$shadow-2: 0px 0px 20px 2px rgba(150, 150, 150, 0.3);
$transition: all 0.3s linear;
$transition-2: all 0.5s ease-in-out;
$line-1: 2px solid rgba(116, 108, 113, 0.5);
$line-2: 2px solid rgba(28, 28, 192, 0.5);
$line-3: 2px solid rgba(9, 224, 88, 0.5);

// colors
$White: hsl(0, 0%, 100%);
$Dark: #303b5a;
$Persian-blue: #2421ca00;
$black: #0f172a;
$bg-body: hsla(13, 100%, 96%, 0.2);
$Light-Gray: hsl(0, 0%, 80%);

// /******** variables for this project ********/
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

// ## Gradients
// background
$Light-slate-blue: #7857ff;
$Light-royal-blue: #2e2be9;
// circle
$Persian-blue: #27108acb;
$Violet-blue: #4e21ca;

// Neutral
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);

// This Project
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsla(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue2: hsla(234, 17%, 12%);
